
pre {
   font-size: 15px;
}
.texty{
    position: absolute;
   margin-left: 100px;
}
.text {
    float: right;
    position: absolute;
    margin-left: 50rem;
}
@media only screen and (max-width: 768px) {
    .text{
        margin-left: 5px;
        margin-bottom: 90px;
    }
    .texty{
        margin-left: auto;
        margin-bottom: 90px;
    }
}